@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background-color: #0e1538;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; 
}

a{
    
    position: relative;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0, 0, 0.5);
    margin: 40px;
    overflow: hidden;

}

a:hover{
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 60px var(--clr),
    0 0 100px var(--clr);
}

a::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 400%;
    background: var(--clr);
    animation: animate 2s linear infinite;
    animation-delay: calc(0.33s * var(--i));
}

a::after{
    content: '';
    position: absolute;
    inset: 4px;
    background: #c72323;
    transition: 0.5s;
}

a:hover::before{
    width: 100%;
}

@keyframes animate {
    0%{
        transform:rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

/* #div1{
    background-color: black;
    padding: 20px 60px;
} */
